<div class="container middle-container-1 cvpage">
  <div class="pt-5">
    <div class="box box-primary mt-3 mb-5">
      <div class="box-header with-border">
        <h3 class='box-title my-3 ml-4'><%= t('content.admins.newsletters.edit') -%></h3>
      </div>
      <div class="box-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
