<div class="container middle-container-1 cvpage">
  <div class="pt-5">
    <h1 class="text-primary text-center ml-2"><%= t('layouts.nav.show_newsletter') %></h1>
    <div class="box box-primary my-5 py-5 pl-5">
      <%= @newsletter.content.html_safe %>
    </div>
  </div>
</div>
