<% if @cv.authorization_statement.present? %>
  <div class="border-top py-5 pl-3 pl-md-6 pr-2 nobreak">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.authorization.title') %></h6>
    </div>
    <div class="font-size-14">
      <p class="mb-0 pt-5"><%= @cv.authorization_statement.presence %></p>
    </div>
  </div>
<% end %>
