<% languages = @cv.languages.chronological_order %>

<% if languages.present? %>
  <div class="border-top py-5 px-3 pl-md-6 nobreak">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.languages.title') %></h6>
    </div>
    <div class="row">
      <% languages.each do |language| %>
        <div class="col-12 col-md-8 col-lg-4">
          <div class="d-flex flex-row font-size-14 pt-4">
            <div class="w-100">
              <h6><%= language.language %></h6>
              <p><%= cefr_level language.level %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
