<% if @cv.about.present? %>
  <div class="border-top py-5 px-3 pl-md-6">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.summary.title') %></h6>
    </div>
    <div class="font-size-14">
      <p class="mb-0 pt-4"><%= @cv.about.presence %></p>
    </div>
  </div>
<% end %>
