*~ # used for temporary local files
.DS_Store # Mac folder files
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key

/.idea
tags
/config/application.yml
/coverage
/public/packs
/public/packs-test
/public/system
yarn-debug.log*
.yarn-integrity
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
