<% flash.each do |key, msg| %>
  <div id="alert-bar" class="alert alert-<%= key %> alert-dismissible fade show flash-size <%= 'home_page_alert' if app_home_page? %>" role="alert">
    <button class="close" data-dismiss="alert" aria-label="Close">x</button>
    <p class="flash-message"><%= msg %></p>
  </div>
<% end %>
