<span>Quando si cerca lavoro molto spesso c’è il rischio di sentirsi soli, scoraggiati e inadeguati alle proprie ambizioni professionali.<br><br>
Il progetto PubliCV è nato per essere la risposta a questa esigenza.<br><br>
Nei nostri 2 anni di attività abbiamo lavorato con un unico obiettivo: aiutarti nella ricerca del tuo percorso professionale.
La nostra missione è diventare l’unico CV del quale avrai mai bisogno, il tuo uCV.<br><br>
Per rimarcare questo nostro valore, ti comunichiamo con gioia il nuovo nome della piattaforma: "<br><br>
<%= image_tag(attachments['new_logo.svg'].url) %><br><br>
Scopri come appare adesso il tuo CV:<br>
<%= link_to 'IL TUO CV', @magic_link %><br><br>
Ma non è tutto!<br><br>
Grazie al tuo contributo siamo diventati progetto approvato dalla <a href= "https://pledgeviewer.eu/pledge/initiative/659">Commissione Europea</a>,
e stiamo continuando ad investire per permetterti di usufruire di un servizio sempre più completo e più adatto alle tue esigenze.<br><br>
<strong>Miglioramenti per te:</strong><br><br>
<ul>
<li>
Il tuo uCV sarà più facile da condividere!Il tuo CV digitale non sarà più online all’indirizzo https://[username].publicv.it bensì all’indirizzo
https://[username].ucv.online il vecchio indirizzo continuerà a funzionare per qualche mese, però ricordati,
d’ora in poi, di utilizzare il nuovo. Più semplice e facile da ricordare.<br><br>
</li>
<li>
Non avrai più bisogno della password!Per aumentare la sicurezza dei tuoi dati abbiamo abolito l’utilizzo delle password, D’ora in poi,
per accedere, riceverai sempre un link al tuo indirizzo email.<br><br>
</li>
<li>
Il tuo cv sarà immediatamente visibile a tutti i recruiter!uCV ti garantirà visibilità immediata per poter essere ricercato
e contattato da selezionatori di tutto il mondo.<br><br>
</li>
<li>
Contenuti aggiuntivi per aiutarti a raggiungere i tuoi obiettivi!Siamo lieti di annunciarti l’ingresso nel team di Valerio,
con lui seguiranno tantissimi contenuti e novità finalizzate a migliorare e facilitare la tua ricerca lavorativa.<br>
Intanto, puoi già visitare il suo <a href="https://www.youtube.com/c/ValerioVillaniChannel">canale YouTube, pieno di risorse gratuite</a>
(my channel link). e il canale uCV (uCV channel link).
</li>
</ul><br><br>
Questo è il tuo nuovo uCV! DAI UN’OCCHIATA!<br>
<%= link_to 'IL TUO CV', @magic_link %><br><br>
Non vediamo l’ora di continuare a supportarti nel tuo percorso di crescita!<br><br>
Grazie,<br><br>
Team uCV
</span>
