.map-container {
  height: 40rem;
  overflow: hidden;
}
.map-search {
  bottom: 5rem;
  .form-control:focus, .custom-select:focus {
    box-shadow: none;
  }
  .map-search-container{
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 2rem;
  }
}
.enable-btn {
  top: 1.25rem;
  right: 4rem;
}

.card-width {
  width: 16.25rem;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #707070;

}
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
    width: 8px;
    border-radius: 50%;
    height: 8px;
    border: 1px solid #707070;
    opacity: 1;
}

@include media-breakpoint-down(md){
  .map-container {
    height: 35rem;
  }
  .enable-btn {
    top: 1rem;
    right: 1rem;
  }
  .map-search {
    bottom: 3rem;
  }
}

.language-switcher{
  border-radius: 2rem;
}
.scroller{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.scroller::-webkit-scrollbar {
  display: none;
}
