.dataTables_scrollBody {
  border-bottom: 0 !important;
}
#dataTable thead tr th {
  padding: 18px;
}
#dataTable_flags thead tr th {
  padding: 18px;
}
#dataTable_flags,
#dataTable {
  margin-top: 72px;
}
.dataTables_scroll {
  margin-top: 60px !important;
}
.base-color {
  color: #5415e5;
}
.form-border-t {
  border-top: 2px solid #5415e5;
}
#newsletter_table thead tr th {
  padding: 18px;
}
#newsletter_table tbody tr td {
  padding: 18px;
}
.alert-notice {
  @extend .alert-success;
}
.icon-pos {
  padding-top: 16px;
  padding-left: 20px;
}
