<div class="modal fade" id="newFlagModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-4 border-0 bg-light">
        <h5 class="modal-title text-primary"><i class="fa fa-flag"></i> Mark as flag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> <i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" id="flag-modal-body">
      </div>
    </div>
  </div>
</div>
