body {
  margin: 0px;
  padding: 0px;
}
#map,
#search-map {
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 40rem;
}
@media screen and (max-width: 992px) {
  #map,
  #search-map {
    height: 35rem;
  }
}
