.auth-form.px-5.py-3
  h2.text-center = t('devise.passwords.forgot_password')
  p.text-center = t('devise.passwords.forgot_password_text')

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .alert.alert-danger
      = devise_error_messages!
    .field.mb-3
      = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: t('devise.sessions.email'),
              class: 'form-control'
    .actions.mb-2
      = f.submit t('devise.passwords.send_button'), data: { disable_with: t('devise.passwords.sending_button') },
              class: 'btn btn-login'

  = render 'devise/shared/links'
