= render 'shared/modal_header', id: 'edit-cv-extras', title: t('content.main.cv.edit.extras.title')
  = form_with model: @cv do |f|
    .modal-body
      .alert.alert-danger
      .needs-validation novalidate=''
        .row
          .col-12.mb-3
            = f.label :interests, t('content.main.cv.show.interests')
            = f.text_area :interests, class: 'form-control', rows: 3
        .row
          .col-12
            = f.label :future_plans, t('content.main.cv.show.future_plans')
            = f.text_area :future_plans, class: 'form-control', rows: 3
    .modal-footer
      = f.button t('content.main.buttons.reset'), type: :reset
      = f.submit t('content.main.buttons.save'), class: 'btn-standard'
