= render 'shared/modal_header', id: 'edit_cv_skills', title: t('content.main.cv.edit.skills.title')
  = form_with model: @cv do |f|
    .modal-body
      .alert.alert-danger
      .needs-validation novalidate=''
        .row
          .col-12.mb-3
            = f.label :working_skills, t('content.main.cv.show.skills.working_skills')
            = f.text_field :working_skills, class: 'form-control'
        .row
          .col-12.mb-3
            = f.label :skills, t('content.main.cv.show.skills.other_skills')
            = f.text_field :skills, class: 'form-control'
    .modal-footer
      = f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-standard'
      = f.submit t('content.main.buttons.save'), class: 'btn btn-standard'
