<div class="py-40 py-md-80 text-center container">
  <h1 class="w-50 mx-auto pt-40 pt-md-80 pb-4">Make work life simpler, more pleasant and more productive.</h1>
  <h5  class="w-50 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor </h5>
</div>
<div class="bg-light py-40 py-md-80 my-40 my-md-80 ">
  <div class="container">
    <div class="border-bottom">
      <h3 class="mb-3">About us</h3>
    </div>
    <div class="pt-40 pt-md-80">
      <p class="mb-3">
        <i class="fas fa-quote-left"></i>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
      </p>
      <p>
        Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
      </p>
      <p>
        Mi, ultrices nibh mi faucibus bibendum dignissim sit enim et. Quisque sollicitudin lacus duis porttitor. Nulla dictum sed aliquam posuere non. Et sit euismod consectetur volutpat fusce lectus aliquet.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
      </p>
      <p>
        Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
      </p>
      <p>
        Mi, ultrices nibh mi faucibus bibendum dignissim sit enim et. Quisque sollicitudin lacus duis porttitor. Nulla dictum sed aliquam posuere non. Et sit euismod consectetur volutpat fusce lectus aliquet.
        <i class="fas fa-quote-right"></i>
      </p>
    </div>
  </div>
</div>
