<div class="py-40 py-md-80">
  <div class="container">
    <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
      <h3 class="mb-3">Cookie Policy</h3>
      <p>In vigore dal 1° Maggio 2020</p>
    </div>
    <div class="pt-40 pt-md-80">
      <p>YouCV non utilizza nessuna tecnologia di tracciamento, gli unici dati che conosce sono quelli da te liberamente forniti e il tuo indirizzo IP. </p>
      <p>In particolare non facciamo uso di cookie di profilazione. </p>
      <p>Utilizziamo solo cookie tecnici e il cookie di Google Analytics anonimizzato. </p>
      <p>Secondo la normativa europea, pertanto, non impieghiamo nessuna tecnologia per la quale sia necessario chiedere il consenso. </p>
      <p>Segue una descrizione delle tecnologie utilizzate e della finalit&agrave; tecnica per la quale sono impiegate. Inoltre, siccome tramite YouCV potresti accedere ad altri servizi, segue una descrizione anche per essi. </p>
      <h4>Tecnologie utilizzate e Finalit&agrave; </h4>
      <h5>Cookie tecnici </h5>
      <p> Il cookie &egrave; un piccolo file di testo salvato nel suo Browser. I cookie si distinguono per finalit&agrave;, nel caso di YouCV utilizziamo i cookie solo per consentirle l&rsquo;accesso ai servizi (effettuare il login). </p>
      <p>
        Maggiori informazioni sui cookie sono disponibili in italiano qui: &nbsp; <a href="https://corsidia.com/materia/cookie-law/cosa-sono-i-cookie-e-come-si-cancellano">https://corsidia.com/materia/cookie-law/cosa-sono-i-cookie-e-come-si-cancellano</a>
        &nbsp; oppure, in inglese, qui: &nbsp; <a href="https://gdpr.eu/cookies/">https://gdpr.eu/cookies/</a>
      </p>
      <h5>Indirizzo IP </h5>
      <p>L&rsquo;indirizzo IP o &ldquo;Internet Protocol&rdquo; &egrave; un numero identificativo che ti viene assegnato dalla rete Internet quando accedi alla rete. Esso serve per permettere la comunicazione fra il tuo terminale e il server di YouCV. </p>
      <p>Salviamo il tuo indirizzo IP per evitare abusi (violazione dei termini di utilizzo) e conoscere la tua posizione geografica in modo molto approssimativo (perch&eacute; dal solo indirizzo IP &egrave; possibile sapere in quale zona si trova il terminale connesso a internet ma non esattamente dove. &Egrave; possibile, per esempio, sapere che ti trovi in una certa provincia ma non &egrave; possibile sapere con precisione in quale citt&agrave; e a quale indirizzo). </p>
      <p>
        La tua posizione approssimativa &egrave; utilizzata solo per centrare la mappa nella nostra homepage in modo che ti presenti, prima di tutto, i risultati nella tua zona.
      </p>
      <p>La tua posizione geografica approssimativa viene utilizzata solo con questa finalit&agrave;. In particolare non viene n&eacute; salvata, n&eacute; associata al tuo profilo, n&eacute; condivisa con nessuno. </p>
      <h4>Altri servizi utilizzati </h4>
      <p>Gli altri servizi utilizzati sono di seguito elencati, questa lista potrebbe essere aggiornata: </p>
      <ol>
        <li>Landbot : i nostri Chatbot sono basati sulla tecnolgia fornita da Landbot.io, la loro cookie policy &egrave; disponibile qui. </li>
      </ol>
      <p>
        Il titolare del trattamento &egrave; il proprietario di Corsidia.com, Corsidia SB S.r.l.
      </p>
      <p>Via Maurizio e Lazzaro, 5 - 20814, Varedo (MB). </p>
      <p>P.IVA: 10680750964 </p>
      <p>Tel: 800 984 681 </p>
      <p>Email: info@publicv.org </p>
      <p>I dati del titolare del trattamento sono disponibili in calce a tutte le pagine del Sito. </p>
      <p>
        Ulteriori informazioni su cosa siano i cookie, sui rischi a essi connessi e su come gestirli facilmente dal proprio browser sono disponibili in questa
        <a href="https://corsidia.com/materia/cookie-law/cosa-sono-i-cookie-e-come-si-cancellano">Guida sui Cookie</a>
        &nbsp;o sul sito del
        <a href="http://www.garanteprivacy.it/">Garante della Privacy</a> .
      </p>
      <p>
        Questa pagina &egrave; raggiungibile mediante link in calce in tutte le pagine del Sito ai sensi dell&rsquo;art. 122 secondo comma del D.lgs. 196/2003 e a seguito delle modalit&agrave; semplificate per l&rsquo;informativa e l&rsquo;acquisizione del consenso per l&rsquo;uso dei cookie pubblicata sulla Gazzetta Ufficiale n.126 del 3 giugno 2014 e relativo registro dei provvedimenti n.229 dell&rsquo;8 maggio 2014.
      </p>
    </div>
  </div>
</div>
