<div class="middle-container-1">
  <div class="py-40 py-md-80">
    <div class="container">
      <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
        <h3 class="mb-3">Cookie Policy</h3>
        <p>Last Updated: May 1, 2020</p>
      </div>
      <div class="pt-40 pt-md-80">
        <p> PubliCV does not use any tracking technology. The only data we know is the one freely provided by you along with your IP address. </p>
<p> Most importantly, we don&rsquo;t employ tracking cookies. </p>
<p> We only employ technical cookies and the Google Analytics anonymized cookie. </p>
<p> According to European Law, we don&rsquo;t use any technology for which consent has to be preventively granted. </p>
<p> A list with all the cookie-related technologies and their finality is hereby provided. </p>
<h1> What technologies are used and how/why? </h1>
<h2> Cookies </h2>
<p> Cookies are small text files that websites place on your device as you are browsing. They are processed and stored by your web browser. In and of themselves, cookies are harmless and serve crucial functions for websites. Cookies can also generally be easily viewed and deleted. </p>
<p> We only use: </p>
<ul>
<li> Strictly necessary cookies &nbsp;-- &nbsp;These cookies are essential for you to browse the website and use its features, such as accessing secure areas of the site. Cookies that allow web shops to hold your items in your cart while you are shopping online are an example of strictly necessary cookies. These cookies will generally be first-party session cookies. While it is not required to obtain consent for these cookies, what they do, and why they are necessary, should be explained to the user. <br>
<br>On PubliCV, strictly necessary cookies are used to handle your session after you sign up or log in. This functionality is needed to tell you from other users. Hence, they are used to grant the owner of the concerning content/data some functionalities such as editing and destroying the content/data. Otherwise, everyone could edit your profile, and that is something we actively prevent.</li>
</ul> <p>
Further information about cookies is available at <a href="https://gdpr.eu/cookies/">https://gdpr.eu/cookies/</a>
</p>
<h2> IP Address </h2>
<p> An Internet Protocol address &nbsp;( IP address ) is a numerical label assigned to each device connected to a <a href="https://en.wikipedia.org/wiki/Computer_network">computer network</a> &nbsp;that uses the <a href="https://en.wikipedia.org/wiki/Internet_Protocol">Internet Protocol</a> &nbsp;for communication. &nbsp; An IP address serves two main functions: host or network interface <a href="https://en.wikipedia.org/wiki/Identification_(information)&amp;sa=D&amp;ust=1588263923720000">identification</a> &nbsp;and location <a href="https://en.wikipedia.org/wiki/Network_address">addressing</a> . </p>
<p> We may save your IP address on our logs and database in order to identify abuses (for instance terms violations). We also use it to center the map on the homepage based on your approximate location. However, we don&rsquo;t ever save nor track your location. Also, consider that the location that we can infer through your IP address is very approximate. We may be able to guess your province but not the actual city you&rsquo;re in and, for sure, not your current address. </p>
<h2> Embedded services </h2>
<p> Other services may be embedded, this list could be updated: </p>
<ol>
<li><b>Landbot</b> - our chatbots are based on the technology provided by Landbot.io they don&rsquo;t use cookies except if you directly visit their website. </li>
</ol>
<p>
The Data Controller is the owner of &nbsp;Corsidia.com, Corsidia SB S.r.l. </p>
<p> Via Maurizio e Lazzaro, 5 - 20814, Varedo (MB). </p>
<p> VAT: IT10680750964 </p>
<p> Tel: 800 984 681 </p>
<p>
Email: <a href="mailto:info@publicv.org">info@publicv.org</a>
</p>
<p> These data and this page are available and/or accessible via link at the bottom of each page es required by the law. </p>

      </div>
    </div>
  </div>
</div>
