<div class="py-40 py-md-80">
  <div class="container">
    <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
      <h3 class="mb-3">Privacy Policy &amp; GDPR</h3>
      <p>Last Updated: May 1, 2020</p>
    </div>
    <div class="pt-40 pt-md-80">
      <p> The <a rel="nofollow" href="/legal/terms">terms of the service are available here</a>. </p>
      <p> The YouCV platform, except where differently stated, is owned by Corsidia and Bluebash.</p>
      <p> Corsidia SB S.r.l. is an Italian company located in via Maurizio e Lazzaro 5, 20814 Varedo (MB), Italy. </p>
      <p> Both Bluebash and Corsidia legal information is at the bottom of each web page. </p>
      <p> Corsidia e Bluebash are hereby referred to as the &ldquo;Data Controller&rdquo; or &ldquo;YouCV&rdquo;. </p>
      <p> https://ucv.online </p>
      <h4> Website users </h4>
      <p> Users are divided into the following types </p>
      <ul>
        <li> <b>Guests</b> - unregistered visitors. </li>
        <li> <b>Jobseekers</b> - registered users seeking jobs. </li>
        <li> <b>Employers</b> - registered users seeking workers. </li>
      </ul>
      <p> In order to provide the service described in the terms, different data is collected for each different type of user (except Guests, for whom no data is collected). </p>
      <h5> How did we obtain your data? </h5>
      <p> The personal data processed by the YouCV comes directly from interested parties through the forms available on the website. </p>
      <h5> For how long will we keep your data? </h5>
      <p> The personal data will be kept for as long as you continue to be a user or ask your data be deleted. In some cases, personal data will be stored that may be used to test how services are used and how your rights are exercised. </p>
      <p> In addition, the YouCV regularly carries out an analysis of stored data, deleting data when the information is deemed to have become obsolete or out of date. </p>
      <h5> For what legitimate reason do we process your data? </h5>
      <p> The legal basis for processing your data is founded on the consent given by completing any of the forms that the YouCV makes available. In the case of the Client, the legal basis is the contractual relationship between the two. </p>
      <p> The prospective supply of our own or third-party products and services is based on consent if it is authorised by the special regulations on the information society provided that it relates to the YouCV&rsquo;s products and services, however, in any case, the withdrawal of consent to send marketing communications determines, in your case, your status as a registered user. </p>
      <h5> To whom will your data be sent? </h5>
      <p> The objective of the service is to allow employers to contact jobseekers. For this reason the data that the jobseeker provided in his profile or &ldquo;YouCV&rdquo; is public. When an employer contacts a jobseeker the information contained in the message is collected and sent to the email provided by the jobseeker for this purpose. </p>
      <h5> What are your rights when you provide us with your data? </h5>
      <p> In compliance with the GDPR, any person has the right to request access, correct or delete their personal data, to limit its processing, or to object to it being processed, as well as the right to data portability. They also have the right to withdraw consent for any of the objectives. To exercise this right, simply send a letter to Corsidia at the address: via Maurizio e Lazzaro 5, 20814, Varedo (MB) or an email to info@ucv.online indicating the right that you wish to exercise. The identity of the applicant must be proven, by sending a photocopy of ID, for example. </p>
      <p> Furthermore, we hereby inform you that you have the right to file a complaint with the competent supervisory authority (Italian Privacy Protection Agency &ldquo;Garante della Privacy italiano&rdquo;), if you consider that there has been any kind of violation in connection with the processing of your personal data. </p>
      <p> In the event that you request the processing of your data to be limited, we will only keep it to exercise or defend potential claims, and in the case of opposition will no longer process the data, except for compelling, legitimate reasons, or to exercise or defend potential claims. </p>
      <p> We appreciate your collaboration </p>
      <p> At YouCV, we seek to monitor, as far as possible, the correct use of the personal data for which we are responsible, and which is used by third parties to whom we have had to provide it. For that reason, should you have any knowledge or suspicion that any of our clients or suppliers mentioned above are using your personal data improperly, we ask that you notify us without delay to enable us to take the appropriate actions. </p>
      <p> Furthermore, to ensure that the data we have is correct and up-to-date, if there are any changes to your data or if, for any reason, you detect that some of the data we have about you is wrong, please let us know as soon as possible so that we can correct it in a timely fashion. </p>
    </div>
  </div>
</div>
