<div class="middle-container-1">
  <div class="py-40 py-md-80">
    <div class="container">
      <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
        <h3 class="mb-3">Terms of Service</h3>
        <p>Last Updated: May 1, 2020</p>
      </div>
      <div class="pt-40 pt-md-80">
<p> Our mission is to help jobseekers to get found by &nbsp;companies and other employers. Our goal is to simplify the job seeking process by minimizing, if not removing, the middlemen. </p>
<h4> License Agreement </h4>
<p> Definitions and main concepts </p>
<h2> 1.1 PubliCV: &nbsp;the Platform </h2>
<p>
PubliCV is the name of the platform, currently online at the websites publicv.org &nbsp;and publicv.it . Development, management and the &nbsp;trademark/brand are owned by </p>
<p> Corsidia SB Srl (66%) and Bluebash Consulting Limited (33%). Details on the two owning companies are available at the bottom of each page of the websites, including this one. </p>
<p>
The &ldquo;publiCV&rdquo; trademark is registered at the European Union Intellectual Property Office (EUIPO) with code <a href="https://euipo.europa.eu/eSearch/%23details/trademarks/018140821&amp;sa=D&amp;ust=1588264192904000">018140821</a>
. </p>
<p>
Except where otherwise indicated, the <a href="https://creativecommons.org/licenses/by/4.0/deed.it&amp;sa=D&amp;ust=1588264192905000">Creative Commons CC BY 4.0</a>
&nbsp;license is applied to contents, while the <a href="https://github.com/publicv-org/publicv/blob/master/LICENSE&amp;sa=D&amp;ust=1588264192905000">MIT license</a> &nbsp;is applied to the source code. </p>
<p> PubliCV &nbsp;is hereby also referred to as the &ldquo; Service &rdquo; or the &ldquo; Services &rdquo;. </p>
<p> Registered users are referred to as &ldquo;Users&rdquo; while non registered visitors are referred to as &ldquo;Guests&rdquo;. </p>
<p> Using this website you are a Guest until you sign up with your email and password, at that point you became a User. </p>
<h2> 1.2 publiCV: &nbsp;user profile </h2>
<p> The user profile is also referred to as &ldquo;publiCV&rdquo; (with a downcase &ldquo;p&rdquo; ), to create a profile you have to accept this agreement and its attachments (privacy policy, cookie policy and linked documents). </p>
<p> Please note that a publiCV is is not a proper curriculum vitae as it doesn&rsquo;t contain the same sensible data. </p>
<p> The downloaded publiCV in PDF format does contain all the data inserted by the user, hence, can be considered a proper curriculum vitae. </p> <p> This agreement grants the User full ownership of their publiCV in terms of: </p>
<ul>
<li> data and information provided (content) </li>
<li>
authorship regulated by the Creative Commons CC BY 4.0 &nbsp;license </li>
<li>
source code distributed under the MIT license </li>
</ul>
<p>
The CC BY 4.0 &nbsp;license states that: </p>
<ul>
<li> Using your publiCV in both the online and the PDF version you have to include an attribution notice to the effect of: &ldquo;generated by publicv.org&rdquo;. </li>
<li> Using your publiCV or any other content you created/uploaded we will have to include a notice linking to your online publiCV. </li>
</ul>
<p>
The &nbsp;MIT licence states that : </p>
<ul>
<li> You can reuse the source code connected to your publiCV. </li>
<li>
The reusable source code is available here: <a href="https://github.com/publicv-org/publicv&amp;sa=D&amp;ust=1588264192910000">https://github.com/publicv-org/publicv</a>
</li>
</ul>
<p> You can end this licence for specific content deleting such content from the Services or closing/deleting your account. </p>
<p> The user profile is hereby referred to as the &ldquo;publiCV&rdquo;. </p>
<h2> 1.3 The Core Service (free) </h2>
<p> PubliCV can offer a wide array of services. Among these, the core service hereby defined will always be free and unrestricted (except in the event of abuse). &nbsp; </p>
<p> The core service is defined as follows: </p>
<ol>
<li>
The user can create a publiCV &nbsp;inclusive of their skills, professional experience, training and professional goals. </li>
<li> A search engine is provided to select publiCVs with the desired attributes. </li>
<li> Each publiCV provides a form to manually contact one candidate at a time. </li>
</ol>
<p>
The source code of the core service is open source and fully available here under MIT license: <a href="https://github.com/publicv-org/publicv&amp;sa=D&amp;ust=1588264192913000">https://github.com/publicv-org/publicv</a> . </p>
<p>
Please note that the source code other than the one needed to provide the core service could not be open source and/or distributed with a different license. </p>
<h2> 1.4 Business Model </h2>
<p> The business model of PubliCV, hence the paid services, will be built around the core service, hence, leaving the core service free of charge. An example of paid service built </p>
<p> &nbsp;around the main one would be the ability to contact many candidates at the same time, provided they are selected by an advanced search criteria, sending the same message to all of them. In &nbsp;this case the need to protect them from spam and other abuses arises. One solution is to offer this kind of service as a paid service, with a reasonable fee. </p>
<p> 1.5 Benefit Corporation and legal personality </p>
<p> As stated at paragraph 1.1, the PubliCV project is currently a joint effort between Corsidia and Bluebash. As such, it does NOT qualify as a legal personality yet. PubliCV will become a stand-alone Company with a distinct legal personality after it becomes (no future in tense subordinates) a profitable-enough project. </p>
<p>
In case PubliCV will satisfy this profitability requirement, it will be established &nbsp;as a Benefit Corporation or &ldquo;B-CORP&rdquo; as defined by the law. &nbsp;Please note that <a href="https://corsidia.com/societa-benefit&amp;sa=D&amp;ust=1588264192915000">Corsidia is already a benefit corporation</a>
. </p> <p> 2. Obligations </p>
<p> 2.1 Service Eligibility </p>
<p> The Services are not for use by anyone under the age of 18. </p>
<p> To use the Services, you agree that: (1) you must be the &ldquo;Minimum Age&rdquo; (described below) or older; (2) you will only have one PubliCV account, which must be in your real name; and (3) you are not already restricted by PubliCV from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 18. </p>
<p> &ldquo;Minimum Age&rdquo; means 18 years old. However, if law requires that you must be older in order for PubliCV to lawfully provide the Services to you without parental consent (including using of your personal data) then the Minimum Age is such older age. </p>
<p> 2.2 Your Account </p>
<p> Users are account holders. You agree to: (1) use a strong password and keep it confidential; (2) follow the law and our list of Dos and Don&rsquo;ts and Professional Community Policies. You are responsible for anything that happens through your account unless you close it or report misuse. </p>
<p> As between you and others (including your employer), your account belongs to you. However, if the Services were purchased by another party for you to use (e.g. Recruiter seat bought by your employer), the party paying for such Service has the right to control access to and get reports on your use of such paid Service; however, they do not have rights to your personal account. </p>
<p> 2.3 Payment </p>
<p> As stated on paragraph 1.3 the core service is free of charge. </p>
<p> If you buy any of our paid Services (&ldquo;Premium Services&rdquo;), you agree to pay us the applicable fees and taxes and to additional terms specific to the paid Services. Failure to pay these fees will result in the termination of your paid Services. Also, you agree that: </p>
<p> Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates). </p>
<p> We may store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your Services and to use to pay other Services you may buy. </p>
<p> If you purchase a subscription, your payment method automatically will be charged at the start of each subscription period for the fees and taxes applicable to that period. To avoid future charges, cancel before the renewal date. Learn how to cancel or suspend your Premium Services. </p>
<p> All of your purchases of Services are subject to PubliCV&rsquo;s refund policy. </p>
<p> We may calculate taxes payable by you based on the billing information that you provide us at the time of purchase. </p>
<p> You can get a copy of your invoice through your PubliCV account settings under &ldquo;Purchase History&rdquo;. </p>
<p> 2.4 Notices and Messages </p>
<p> You agree that we will provide notices and messages to you in the following ways: (1) within the Service, or (2) sent to the contact information you provided us (e.g., email, mobile number, physical address). You agree to keep your contact information up to date. </p>
<p> Please review your settings to control and limit messages you receive from us. </p>
<p> Messages necessary to provide the core service, as defined in paragraph 1.3 will always be granted. </p>
<p> 2.5 Sharing </p>
<p> Our Services allow messaging and sharing of information in many ways, such as your profile, articles, group posts, links to news articles, job postings, messages and InMails. Information and content that you share or post may be seen by other Users, Guests or others (including off of the Services). Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., message content to your addressees, sharing content only to PubliCV connections, restricting your profile visibility from search engines, or opting not to notify others of your PubliCV profile update). For job searching activities, we default to not notifying your connections network or the public. So, if you apply for a job through our Service or opt to signal that you are interested in a job, our default is to share it only with the job poster. </p>
<p> We are not obligated to publish any information or content on our Service and can remove it with or without notice. </p>
<p> 3. Rights and Limits </p>
<p> 3.1. Your License to PubliCV </p>
<p> As between you and PubliCV, you own the content and information that you submit or post to the Services licensed by the CC BY 4.0 license. </p>
<p> You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems. </p>
<p> We will not include your content in advertisements for the products and services of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or others, to serve ads near your content and information, and your social actions may be visible and included with ads, as noted in the Privacy Policy. If you use a Service feature, we may mention that with your name or photo to promote that feature within our Services, subject to your settings. </p>
<p> We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to share your post as &quot;public&quot;, we will enable a feature that allows other Users to embed that public post onto third-party services, and we enable search engines to make that public content findable though their services. Learn More </p>
<p> While we may edit and make format changes to your content (such as translating or transcribing it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression. </p>
<p> Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a Creative Commons license. </p>
<p> You and PubliCV agree that we may access, store, process and use any information and personal data that you provide in accordance with, the terms of the Privacy Policy and your choices (including settings). </p>
<p> By submitting suggestions or other feedback regarding our Services to PubliCV, you agree that PubliCV can use and share (but does not have to) such feedback for any purpose without compensation to you. </p>
<p> You agree to only provide content or information that does not violate the law nor anyone&rsquo;s rights (including intellectual property rights). You also agree that your profile information will be truthful. PubliCV may be required by law to remove certain information or content in certain countries. </p>
<p> 3.2 Service Availability </p>
<p> We may change, suspend or discontinue any of our Services. We may also modify our prices effective prospectively upon reasonable notice to the extent allowed under the law. </p>
<p> We don&rsquo;t promise to store or keep showing any information and content that you&rsquo;ve posted. PubliCV is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy. </p>
<p> 3.3 Other Content, Sites and Apps </p>
<p> By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. PubliCV generally does not review content provided by our Users or others. You agree that we are not responsible for others&rsquo; (including other Users&rsquo;) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse. You also acknowledge the risk that you or your organization may be mistakenly associated with content about others when we let connections and followers know you or your organization were mentioned in the news. Users have choices about this feature. </p>
<p> PubliCV may help connect Users offering their services (career coaching, accounting, etc.) with Users seeking services. PubliCV does not perform nor employs individuals to perform these services. You must be at least 18 years of age to offer, perform or procure these services. You acknowledge that PubliCV does not supervise, direct, control or monitor Users in the performance of these services and agree that (1) PubliCV is not responsible for the offering, performance or procurement of these services, (2) PubliCV does not endorse any particular Member&rsquo;s offered services, and (3) nothing shall create an employment, agency, or joint venture relationship between PubliCV and any Member offering services. If you are a Member offering services, you represent and warrant that you have all the required licenses and will provide services consistent with our policies. </p>
<p> Similarly, PubliCV may help you register for and/or attend events organized by Users and connect with other Users who are attendees at such events. You agree that (1) PubliCV is not responsible for the conduct of any of the Users or other attendees at such events, (2) PubliCV does not endorse any particular event listed on our Services, (3) PubliCV does not review and/or vet any of these events, and (4) that you will adhere to these terms and conditions that apply to such events. </p>
<p> 3.4 Limits </p>
<p> PubliCV reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Users. PubliCV reserves the right to restrict, suspend, or terminate your account if you breach this Contract or the law or are misusing the Services (e.g., violating any of the Dos and Don&rsquo;ts or Professional Community Policies). </p>
<p> 3.5 Intellectual Property Rights </p>
<p> PubliCV reserves all of its intellectual property rights in the Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. PubliCV, and &ldquo;CV&rdquo; logos and other PubliCV trademarks, service marks, graphics and logos used for our Services are trademarks or registered trademarks of PubliCV. </p>
<p> 3.6 Automated Processing </p>
<p> We use the information and data that you provide and that we have about Users to make recommendations for connections, content and features that may be useful to you. For example, we use data and information about you to recommend jobs to you and you to recruiters. Keeping your profile accurate and up to date helps us to make these recommendations more accurate and relevant. </p>
<p> 4. Disclaimer and Limit of Liability </p>
<p> 4.1 No Warranty </p>
<p> PubliCV AND ITS AFFILIATES MAKE NO REPRESENTATION OR WARRANTY ABOUT THE SERVICES, INCLUDING ANY REPRESENTATION THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, AND PROVIDE THE SERVICES (INCLUDING CONTENT AND INFORMATION) ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, PubliCV AND ITS AFFILIATES DISCLAIM ANY IMPLIED OR STATUTORY WARRANTY, INCLUDING ANY IMPLIED WARRANTY OF TITLE, ACCURACY OF DATA, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. </p>
<p> 4.2 Exclusion of Liability </p>
<p> TO THE FULLEST EXTENT PERMITTED BY LAW (AND UNLESS PubliCV HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), PubliCV, INCLUDING ITS AFFILIATES, WILL NOT BE LIABLE IN CONNECTION WITH THIS CONTRACT FOR LOST PROFITS OR LOST BUSINESS OPPORTUNITIES, REPUTATION (E.G., OFFENSIVE OR DEFAMATORY STATEMENTS), LOSS OF DATA (E.G., DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT) OR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES. </p>
<p> PubliCV AND ITS AFFILIATES WILL NOT BE LIABLE TO YOU IN CONNECTION WITH THIS CONTRACT FOR ANY AMOUNT THAT EXCEEDS (A) THE TOTAL FEES PAID OR PAYABLE BY YOU TO PubliCV FOR THE SERVICES DURING THE TERM OF THIS CONTRACT, IF ANY, OR (B) US $1000. </p>
<p> 4.3 Basis of the Bargain; Exclusions </p>
<p> The limitations of liability in this Section 4 are part of the basis of the bargain between you and PubliCV and shall apply to all claims of liability (e.g., warranty, tort, negligence, contract and law) even if PubliCV or its affiliates has been told of the possibility of any such damage, and even if these remedies fail their essential purpose. </p>
<p> These limitations of liability do not apply to liability for death or personal injury or for fraud, gross negligence or intentional misconduct, or in cases of negligence where a material obligation has been breached, a material obligation being such which forms a prerequisite to our delivery of services and on which you may reasonably rely, but only to the extent that the damages were directly caused by the breach and were foreseeable upon conclusion of this Contract and to the extent that they are typical in the context of this Contract. </p>
<p> 5. Termination </p>
<p> Both you and PubliCV may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination: </p>
<p> Our rights to use and disclose your feedback; </p>
<p> Users and/or Guests&rsquo; rights to further re-share content and information you shared through the Services; </p>
<p> Sections 4, 6, 7, and 8.2 of this Contract; </p>
<p> Any amounts owed by either party prior to termination remain owed after termination. </p>
<p> You can visit our Help Center to close your account. </p>
<p> 6. Governing Law and Dispute Resolution </p>
<p> This section shall not deprive you of any mandatory consumer protections under the law of the country to which we direct Services to you, where you have your habitual residence. If you live in the Designated Countries: You and PubliCV Ireland agree that the laws of Ireland, excluding conflict of laws rules, shall exclusively govern any dispute relating to this Contract and/or the Services. You and PubliCV Ireland agree that claims and disputes can be litigated only in Milan, Italy, and we each agree to personal jurisdiction of the courts located in Milan, Italy. </p>
<p> For others outside of Designated Countries, including those who live outside of the United States: You and PubliCV agree that the laws of the State of California, U.S.A., excluding its conflict of laws rules, shall exclusively govern any dispute relating to this Contract and/or the Services. You and PubliCV both agree that all claims and disputes can be litigated only in the federal or state courts in Santa Clara County, California, USA, and you and PubliCV each agree to personal jurisdiction in those courts. </p>
<p> 7. General Terms </p>
<p> If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract. </p>
<p> This Contract (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services. </p>
<p> If we don&#39;t act to enforce a breach of this Contract, that does not mean that PubliCV has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your Usership or use of Services) to anyone without our consent. However, you agree that PubliCV may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract. </p>
<p> You agree that the only way to provide us legal notice is at the addresses provided in Section 10. </p>
<p> 8. PubliCV &ldquo;Dos and Don&rsquo;ts&rdquo; </p>
<p> 8.1. Dos </p>
<p> You agree that you will: </p>
<p> Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements; </p>
<p> Provide accurate information to us and keep it updated; </p>
<p> Use your real name on your profile; and </p>
<p> Use the Services in a professional manner. </p>
<p> 8.2. Don&rsquo;ts </p>
<p> You agree that you will not: </p>
<p> Create a false identity on PubliCV, misrepresent your identity, create a Member profile for anyone other than yourself (a real person), or use or attempt to use another&rsquo;s account; </p>
<p> Develop, support or use software, devices, scripts, robots or any other means or processes (including crawlers, browser plugins and add-ons or any other technology) to scrape the Services or otherwise copy profiles and other data from the Services; </p>
<p> Override any security feature or bypass or circumvent any access controls or use limits of the Service (such as caps on keyword searches or profile views); </p>
<p> Copy, use, disclose or distribute any information obtained from the Services, whether directly or through third parties (such as search engines), without the consent of PubliCV; </p>
<p> Disclose information that you do not have the consent to disclose (such as confidential information of others (including your employer)); </p>
<p> Violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content violating their Creative Commons license; </p>
<p> Violate the intellectual property or other rights of PubliCV, including, without limitation, (i) copying or distributing our learning videos or other materials or (ii) copying or distributing our technology, unless it is released under open source licenses; (iii) using the word &ldquo;PubliCV&rdquo; or our logos in any business name, email, or URL except as provided in the Brand Guidelines; </p>
<p> Post anything that contains software viruses, worms, or any other harmful code; </p>
<p> Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology that is not open source; </p>
<p> Imply or state that you are affiliated with or endorsed by PubliCV without our express consent (e.g., representing yourself as an accredited PubliCV trainer); </p>
<p> Rent, lease, loan, trade, sell/re-sell or otherwise monetize the Services or related data or access to the same, without PubliCV&rsquo;s consent; </p>
<p> Deep-link to our Services for any purpose other than to promote your profile or a Group on our Services, without PubliCV&rsquo;s consent; </p>
<p> Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages; </p>
<p> Monitor the Services&rsquo; availability, performance or functionality for any competitive purpose; </p>
<p> Engage in &ldquo;framing,&rdquo; &ldquo;mirroring,&rdquo; or otherwise simulating the appearance or function of the Services; </p>
<p> Overlay or otherwise modify the Services or their appearance (such as by inserting elements into the Services or removing, covering, or obscuring an advertisement included on the Services); </p>
<p> Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of service attack, viruses, gaming algorithms); and/or </p>
<p> Violate the Professional Community Policies or any additional terms concerning a specific Service that are provided when you sign up for or start using such Service, and the Bing Maps terms where applicable. </p>
<p> 9. Complaints Regarding Content </p>
<p> We respect the intellectual property rights of others. We require that information posted by Users be accurate and not in violation of the intellectual property rights or other rights of third parties. We provide a policy and process for complaints concerning content posted by our Users. </p>
<p> 10. How To Contact Us </p>
<p> For general inquiries, you may contact us online. For legal notices or service of process, you may write us at the address info@publicv.org. </p>

      </div>
    </div>
  </div>
</div>
