<div class="middle-container-1">
  <div class="py-40 py-md-80">
    <div class="container">
      <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
        <h3 class="mb-3">Privacy Policy & GDPR</h3>
        <p>Last Updated: May 1, 2020</p>
      </div>
      <div class="pt-40 pt-md-80">
        <h4 class="mb-3">What is privacy policy?</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
        </p>
        <p>
          Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
        </p>
      </div>

      <div class="pt-40 pt-md-80">
        <h4 class="mb-3">Why this Privacy Policy?</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
        </p>
        <p>
          Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
        </p>
      </div>

      <div class="pt-40 pt-md-80">
        <h4 class="mb-3">Personal Information</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
        </p>
        <p>
          Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
        </p>
      </div>

      <div class="pt-40 pt-md-80">
        <h4 class="mb-3">Information we Collect</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat, rhoncus et ornare convallis nisl amet. Elit libero sit imperdiet aliquet. Pharetra, tellus orci, pellentesque blandit. Id leo leo egestas neque. Tempor tincidunt leo in venenatis vel, fermentum lorem pretium.
        </p>
        <p>
          Vulputate quisque nunc nulla elementum faucibus ullamcorper proin. In volutpat massa vestibulum, arcu. Vel, consectetur posuere consectetur ultricies mattis. Velit at risus ultricies accumsan at.
        </p>
      </div>
    </div>
  </div>
</div>
