<div class="middle-container-1">
  <div class="py-40 py-md-80">
    <div class="container">
      <div class="border-bottom d-flex flex-column flex-md-row align-items-start justify-content-between align-items-md-end">
        <h3 class="mb-3">Termini del Servizio</h3>
        <p>In vigore dal 1° Maggio 2020</p>
      </div>
      <div class="pt-40 pt-md-80">
        <p>La nostra missione &egrave; aiutare chi cerca lavoro a farsi trovare da chi offre lavori con le sue caratteristiche. L&rsquo;obiettivo del servizio &egrave; semplificare e velocizzare il processo di ricerca e selezione del lavoro e dei lavoratori, minimizzando gli intermediari. </p>
        <h4>Contratto di licenza<br/><small>Definizioni e concetti principali </small></h4>
        <h5>1.1 PubliCV: &nbsp;la Piattaforma </h5>
        <p>
          PubliCV &egrave; il nome della presente piattaforma, attualmente online agli indirizzi publicv.org &nbsp;e publicv.it; Lo sviluppo, la gestione e il trademark/brand appartengono a Corsidia SB Srl e a Bluebash Consulting Private Limited. I dettagli delle due imprese sono disponibili in calce a tutte le pagine del presente sito, incluso il presente documento.
        </p>
        <p>
          Il Trademark &ldquo;publiCV&rdquo; &egrave; registrato presso l'Ufficio dell&rsquo;Unione Europea per la Propriet&agrave; Intellettuale (EUIPO), con codice <a href="https://euipo.europa.eu/eSearch/%23details/trademarks/018140821">018140821</a>.
        </p>
        <p>
          Eccetto dove diversamente specificato, sono comunque applicate la licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it">Creative Commons CC BY 4.0</a>
          &nbsp;per i contenuti e la <a href="https://github.com/publicv-org/publicv/blob/master/LICENSE">licenza MIT</a>&nbsp;per il codice sorgente.
        </p>
        <p>PubliCV &nbsp;&egrave; di seguito identificata anche come il &ldquo; Servizio &rdquo; o i &ldquo; Servizi &rdquo;. </p>
        <p>Gli utenti registrati ai Servizi sono &ldquo;Utenti&rdquo; e gli utenti non registrati sono &ldquo;Visitatori&rdquo;. </p>
        <p>Navigando sul sito sei un &ldquo;Visitatore&rdquo;, effettuando la registrazione con email e password per creare un account diventi un &ldquo;Utente&rdquo;. </p>
        <h5>1.2 publiCV: &nbsp;il profilo utente </h5>
        <p>Con il termine &ldquo;publiCV&rdquo; (con la &ldquo;p&rdquo; in minuscolo) &egrave; indicato il profilo utente che puoi creare su PubliCV accettando il presente contratto di licenza. </p>
        <p>Il publiCV assomiglia a un curriculum vitae pubblico (fatti salvo i dati sensibili e di contatto), ma di fatto, &egrave; il profilo pubblico o &ldquo;account&rdquo; creato e gestito dall&rsquo;utente di PubliCV, per natura non dissimile da altri profili utente realizzabili sulle tradizionali piattaforme di social networking. </p>
        <p>Da un punto di vista legale, pertanto, il publiCV &egrave; trattato nella fattispecie di un profilo web e non come un curriculum vitae. </p>
        <p>Il publiCV &egrave; facilmente esportabile in formato PDF, comprensivo di tutte le informazioni inserite, anche i dati legali e le informazioni sensibili, pertanto, in versione PDF, il publiCV &egrave; assimilabile a un curriculum vitae vero e proprio, al quale si applica la relativa fattispecie legale. </p>
        <p>La presente licenza garantisce all&rsquo;utente la piena propriet&agrave; del suo publiCV in termini di: </p>
        <ul>
          <li>dati inseriti </li>
          <li>
            diritto d&rsquo;autore secondo la licenza Creative Commons CC BY 4.0
          </li>
          <li>
            codice sorgente a esso connesso secondo licenza MIT
          </li>
        </ul>
        <p>
          La licenza CC BY 4.0 &nbsp;sancisce che:
        </p>
        <ul>
          <li>Nell&rsquo;utilizzo del suo publiCV sia in formato elettronico che in formato PDF dovr&agrave; riportare un riferimento a PubliCV indicando una dicitura del tipo &ldquo;Generato su/con publicv.it&rdquo;. </li>
          <li>Nell&rsquo;utilizzo di suoi dati o contenuti PubliCV dovr&agrave; riportare un riferimento all&rsquo;autore, ossia al suo specifico publiCV. </li>
        </ul>
        <p>La licenza MIT &nbsp;sancisce invece che: </p>
        <ul>
          <li>Lei ha il diritto a riutilizzare il codice sorgente direttamente connesso alla pubblicazione del suo publiCV sul web. </li>
          <li>
            Il codice sorgente riutilizzabile &egrave; disponibile all&rsquo;indirizzo: <a href="https://github.com/publicv-org/publicv">https://github.com/publicv-org/publicv</a>
          </li>
        </ul>
        <p>La licenza &egrave; revocabile in qualsiasi momento eliminando lo specifico contenuto e/o il suo publiCV per intero. </p>
        <p>
          Il publiCV &nbsp;&egrave; di seguito identificato anche come il &ldquo; profilo &rdquo; utente.
        </p>
        <h5>1.3 Il Servizio Principale (gratuito) </h5>
        <p>PubliCV &egrave; costruita per offrire molteplici servizi. Fra questi, un servizio principale che sar&agrave; sempre illimitato (fatta salva la sospensione di un account utente o &ldquo;publiCV&rdquo; per le eventualit&agrave; di seguito espresse) e gratuito. </p>
        <p>Il servizio principale &egrave; costituito dalle seguenti componenti: </p>
        <ol>
          <li>
            Il publiCV &nbsp;dei candidati, comprensivo delle loro competenze, aspirazioni e disponibilit&agrave; professionali.
          </li>
          <li>
            Il Motore di Ricerca &nbsp;per cercare e selezionare publiCV con le caratteristiche desiderate.
          </li>
          <li>
            Il Form di contatto , presente all&rsquo;interno di ogni publiCV attivo, per contattare il candidato proprietario di quello specifico publiCV.
          </li>
        </ol>
        <p>
          Il codice sorgente del servizio principale &egrave; open source, disponibile all&rsquo;indirizzo <a href="https://github.com/publicv-org/publicv">https://github.com/publicv-org/publicv</a> e distribuito con licenza MIT.
        </p>
        <p>
          Si noti che il codice sorgente di altri servizi diversi dal servizio principale potrebbe non essere open source e/o distribuito con una licenza diversa.
        </p>
        <h5>1.4 Il Modello di Business </h5>
        <p>
          Il modello di business &nbsp;di PubliCV, ossia i servizi a pagamento, sar&agrave; costruito intorno al servizio principale che, di conseguenza, rimarr&agrave; gratuito. Un esempio di servizio costruito &ldquo;intorno&rdquo; &egrave; la possibilit&agrave; di contattare molteplici candidati alla volta, inviando a tutti loro, dopo averli selezionati per caratteristiche, il medesimo messaggio. In questo caso la comunicazione non avviene uno a uno ed &egrave; necessario inserire un meccanismo che contrasti abusi e spam. Tale meccanismo pu&ograve; essere soggetto al pagamento di una tariffa.
        </p>
        <p>1.5 Societ&agrave; Benefit e la personalit&agrave; giuridica </p>
        <p>
          Come anticipato al punto 1.1, PubliCV &egrave; attualmente un progetto di Corsidia e Bluebash, pertanto non &nbsp;presenta ancora una personalit&agrave; giuridica a s&eacute; stante. PubliCV assumer&agrave; una personalit&agrave; giuridica propria al verificarsi di una condizione di profittevolezza: il profitto generato dalla piattaforma deve essere sufficiente a giustificare le spese connesse alla creazione di una societ&agrave; a s&eacute; stante.
        </p>
        <p>
          Nel caso in cui si realizzi tale requisito, PubliCV si costituir&agrave; in Societ&agrave; Benefit &nbsp; cos&igrave; come definita dalla <a href="http://www.societabenefit.net/testo-di-legge/">Legge del 28 dicembre 2015 n. 208</a>
          <a href="http://www.societabenefit.net/testo-di-legge/">, commi 376-384</a>.
          Si noti, a tal proposito, che <a href="https://corsidia.com/societa-benefit">Corsidia &egrave; gi&agrave; costituita in tal modo</a>.
        </p>
        <h4>
          2 Obblighi
        </h4>
        <h5>2.1 Idoneit&agrave; al servizio </h5>
        <p>I Servizi non possono essere utilizzati da persone di et&agrave; inferiore ai 18 anni. </p>
        <p>Per utilizzare i Servizi, Lei accetta che: (1) deve avere l&rsquo; Et&agrave; minima (definita di seguito) o maggiore; (2) deve avere un solo account o publiCV, che dovr&agrave; corrispondere al Suo vero nome; e (3) il Suo utilizzo dei Servizi non &egrave; mai stato sospeso da PubliCV. La creazione di un account con informazioni false rappresenta una violazione dei nostri termini e condizioni, inclusi gli account registrati per conto di terzi o di persone di et&agrave; inferiore ai 18 anni. </p>
        <p>&ldquo;Et&agrave; minima&rdquo; significa 18 anni. Tuttavia, se la legge richiede che Lei debba avere un&rsquo;et&agrave; maggiore affinch&eacute; PubliCV Le possa legalmente fornire i Servizi senza il consenso dei genitori o tutori (incluso l&rsquo;utilizzo dei Suoi dati personali), allora l&rsquo;Et&agrave; minima sar&agrave; quella stabilita dalla legge. </p>
        <h5>2.2 Il Suo account </h5>
        <p>Gli Utenti sono titolari di un account. Lei accetta di: (1) usare una password complessa e di tenerla segreta; (2) rispettare la legge e il nostro elenco di &ldquo;Attivit&agrave; consentite&rdquo; e &ldquo;Attivit&agrave; non consentite&rdquo;. Lei &egrave; responsabile di qualsiasi cosa accada tramite il Suo account a meno che non lo chiuda o comunichi eventuali abusi.<br>
          <br>Per quanto riguarda il rapporto tra Lei e gli altri soggetti (incluso il Suo datore di lavoro o un eventuale intermediario) l&rsquo;account appartiene sempre e solo a Lei.
        </p>
        <h5>2.3 Pagamento </h5>
        <p>Come specificato al punto 1.3 il servizio principale &egrave; sempre gratuito e illimitato. </p>
        <p>Se acquista uno qualsiasi dei nostri Servizi a pagamento (&ldquo;Servizi Premium&rdquo;), accetta di pagarci le spese e le tasse applicabili e di rispettare i termini supplementari specifici per tali Servizi a pagamento. Il mancato pagamento potrebbe essere causa di cessazione del Suo utilizzo dei Servizi a pagamento. Inoltre, accetta quanto di seguito specificato: </p>
        <p>I Suoi acquisti possono essere soggetti a una commissione di cambio o a differenze di prezzo in base alla localit&agrave; (ad esempio, il tasso di cambio). </p>
        <p>Lei ci autorizza a memorizzare il Suo metodo di pagamento (ad esempio, la carta di credito) e a continuare a effettuare addebiti anche dopo la sua scadenza, al fine di evitare interruzioni dei Suoi Servizi ed effettuare pagamenti per altri Servizi che potr&agrave; acquistare. </p>
        <p>Tutti i Suoi acquisti di Servizi sono soggetti alle policy di rimborso di PubliCV. </p>
        <p>Potremmo calcolare le tasse da Lei dovute in base alle informazioni di fatturazione che ci fornisce al momento dell&rsquo;acquisto. </p>
        <p>Pu&ograve; ottenere una copia della Sua fattura tramite le impostazioni del Suo account PubliCV nella sezione &ldquo;Cronologia degli acquisti&rdquo;. </p>
        <h5>2.4 Avvisi e messaggi </h5>
        <p>Lei accetta che possiamo inviarLe avvisi e messaggi nelle seguenti modalit&agrave;: (1) all&rsquo;interno del Servizio o (2) ai recapiti che ci ha fornito (per es. indirizzo email, numero di cellulare, indirizzo postale). Lei accetta altres&igrave; di mantenere aggiornate le sue informazioni di contatto. </p>
        <p>La invitiamo a rivedere le Sue impostazioni per controllare e limitare i messaggi che riceve da parte nostra. </p>
        <p>Le comunicazioni relative al servizio principale &nbsp;cos&igrave; come definito dal punto 1.3 saranno sempre consentite. </p>
        <h5>2.5 Condivisione </h5>
        <p>I nostri Servizi consentono di inviare messaggi e condividere informazioni in vari modi. Le informazioni e i contenuti che Lei condivide o pubblica potrebbero essere visualizzati da altri Utenti, Visitatori o da terzi (anche all&rsquo;esterno dei Servizi). Dove abbiamo reso disponibili delle impostazioni, rispetteremo le scelte da Lei effettuate relative a chi pu&ograve; visualizzare il contenuto o le informazioni (per esempio: contenuto dei messaggi ai Suoi destinatari, condivisione del contenuto solo con i collegamenti PubliCV, limitazione della visibilit&agrave; del Suo profilo sui motori di ricerca o scelta di non comunicare a terzi gli aggiornamenti del Suo profilo PubliCV). </p>
        <p>Non siamo obbligati a pubblicare alcuna informazione o contenuto su PubliCV e possiamo rimuoverli a nostra sola discrezione, con o senza preavviso. Infatti, sebbene il contenuto da lei pubblicato &egrave; di sua propriet&agrave;, questo non le conferisce alcun diritto sulle piattaforme (i siti web) di PubliCV. </p>
        <h5>3. Diritti e limiti </h5>
        <p>3.1. La Sua Licenza a PubliCV </p>
        <p>Per quanto riguarda il rapporto tra Lei e PubliCV, Lei possiede i contenuti e le informazioni che pubblica o invia ai Servizi e concede a PubliCV la seguente licenza non Creative Commons CC BY 4.0. </p>
        <p>Pu&ograve; interrompere questa licenza per un contenuto specifico eliminando tale contenuto dai Servizi o in generale chiudendo il Suo account, salvo (a) nella misura in cui l&rsquo;ha condiviso con terzi come parte del Servizio e tali utenti lo hanno copiato, nuovamente condiviso o archiviato e (b) per il tempo ragionevole necessario per rimuoverlo dal backup e da altri sistemi. </p>
        <p>Non includeremo i Suoi contenuti negli annunci pubblicitari per i prodotti e i servizi di terzi ad altri (incluso i contenuti sponsorizzati) senza il Suo consenso distinto. Tuttavia, ci riserviamo il diritto, senza remunerazione a Lei o a terzi, di offrire annunci pubblicitari vicino ai Suoi contenuti e alle Sue informazioni. </p>
        <p>Sebbene possiamo cambiare e apportare modifiche al formato dei Suoi contenuti (come ad esempio: tradurli o trascriverli, modificarne le dimensioni, il layout o il tipo di file, o rimuovere i metadati), non modificheremo il significato della Sua espressione. </p>
        <p>Lei e PubliCV accettate che possiamo accedere, conservare, trattare e utilizzare tutte le informazioni e tutti i dati personali che Lei fornisce in conformit&agrave; con i termini e le condizioni dell&rsquo; <a rel="nofollow" href="http://publicv.it/legal/privacy-policy">Informativa sulla privacy</a>&nbsp;e le Sue scelte (incluse le impostazioni). </p>
        <p>Inviando suggerimenti o altri feedback relativi ai nostri Servizi a PubliCV, Lei accetta che PubliCV possa utilizzare e condividere (ma non ha l&rsquo;obbligo di farlo) tali feedback per qualsiasi scopo senza corrisponderLe alcuna remunerazione. </p>
        <p>Lei accetta di fornire solo contenuti o informazioni che non violano la legge o i diritti di terzi (includendo i diritti di propriet&agrave; intellettuale). Lei accetta anche che le informazioni del Suo profilo siano veritiere. &Egrave; possibile che le leggi locali richiedano a PubliCV di rimuovere determinate informazioni o contenuti in alcuni Paesi. </p>
        <h5>3.2 Disponibilit&agrave; dei Servizi </h5>
        <p>Noi possiamo cambiare, sospendere o interrompere qualsiasi nostro Servizio. Ci riserviamo, inoltre, di modificare i nostri prezzi, che diventano prospetticamente effettivi con un ragionevole preavviso nella misura consentita dalla legge. </p>
        <p>Noi non possiamo garantire di conservare o continuare a mostrare le informazioni e i contenuti che Lei ha pubblicato. PubliCV non &egrave; un servizio di archiviazione . Lei accetta che non esista per noi l&rsquo;obbligo di archiviare, gestire o fornirLe una copia di contenuti o informazioni forniti da Lei o terzi, salvo nella misura richiesta dalla legge applicabile e come indicato nella nostra Informativa sulla privacy. </p>
        <p>Per questi motivi, le consigliamo di utilizzare sempre la funzione &ldquo;esporta&rdquo; in PDF o altro formato per conservare le sue informazioni. </p>
        <h5>3.3 Altri contenuti, siti e applicazioni </h5>
        <p>Utilizzando i Servizi, Lei pu&ograve; imbattersi in contenuti o informazioni che potrebbero essere inesatti, incompleti, tardivi, fuorvianti, illegali, offensivi o in altro modo dannosi. In generale PubliCV non esamina i contenuti forniti dai propri Utenti o da terzi. Lei accetta che non rispondiamo per i contenuti o le informazioni di terze parti (includendo quelli degli altri Utenti). Non possiamo sempre prevenire l&rsquo;utilizzo inadeguato dei nostri Servizi e Lei riconosce che non rispondiamo per tale utilizzo. Riconosce inoltre il rischio che Lei o la Sua organizzazione possiate essere erroneamente associati ai contenuti relativi a terzi. </p>
        <p>PubliCV pu&ograve; aiutare gli Utenti a entrare in contatto, offrendo i propri servizi (consulenza professionale, contabilit&agrave; ecc.), con Utenti in cerca di servizi. PubliCV non svolge n&eacute; assume delle persone per svolgere detti servizi. Lei deve avere almeno 18 anni per poter offrire, svolgere o procurare detti servizi. Lei riconosce che PubliCV non supervisiona, dirige, controlla n&eacute; monitora gli Utenti nello svolgimento di detti servizi e accetta che (1) PubliCV non &egrave; responsabile dell&rsquo;offerta, dello svolgimento o dell&rsquo;approvvigionamento di detti servizi, (2) PubliCV non avvalora nessun particolare servizio offerto, e (3) nulla stabilir&agrave; un rapporto lavorativo o collaborativo, o una partnership di joint venture tra PubliCV e gli Utenti che offrono servizi. Se Lei &egrave; un Utente che offre servizi, Lei sostiene e garantisce di avere tutte le licenze necessarie per fornire i servizi. </p>
        <p>Similmente, PubliCV potrebbe aiutarLa a iscriversi e/o a partecipare a eventi organizzati dagli Utenti e a entrare in contatto con altri Utenti che partecipano a detti eventi. Lei accetta che (1) PubliCV non risponde per la condotta di alcun Utente o di altri partecipanti a detti eventi, (2) PubliCV non avvalora nessun particolare evento mostrato sui nostri Servizi, (3) PubliCV non verifica e/o controlla nessuno di detti eventi, e che (4) Lei aderir&agrave; ai presenti termini e condizioni che si applicano a detti eventi. </p>
        <h5>3.4 Limiti </h5>
        <p>PubliCV si riserva il diritto di limitare il Suo utilizzo dei Servizi, incluso il numero dei Suoi collegamenti e la Sua capacit&agrave; di contattare altri Utenti. PubliCV si riserva il diritto di limitare, sospendere o chiudere il Suo account nel caso in cui Lei stia violando il presente Contratto o la legge, ovvero che stia utilizzando i Servizi in modo improprio (per esempio, stia violando qualsivoglia attivit&agrave; consentita e non consentita o l&rsquo;Informativa sulla community professionale). </p>
        <h5>3.5 Diritti di propriet&agrave; intellettuale </h5>
        <p>PubliCV si riserva tutti i suoi diritti di propriet&agrave; intellettuale nei Servizi. I marchi e i loghi utilizzati in relazione ai Servizi sono marchi dei rispettivi proprietari. PubliCV, i loghi &ldquo;CV&rdquo; e altri marchi commerciali, marchi di servizio, immagini e loghi di PubliCV utilizzati per i nostri Servizi sono marchi commerciali o marchi registrati di PubliCV. </p>
        <h5>3.6 Trattamento automatizzato </h5>
        <p>Utilizziamo le informazioni e i dati che Lei fornisce e che noi abbiamo sugli Utenti per segnalare risorse, collegamenti, contenuti e funzionalit&agrave; che potrebbero esserLe utili. Per esempio, utilizziamo i dati e le informazioni da Lei fornite per aiutare i datori di lavoro a trovarLa tramite il motore di ricerca. Mantenendo il Suo profilo accurato e aggiornato ci aiuta a rendere dette segnalazioni pi&ugrave; precise e rilevanti. </p>
        <h5>4. Limitazione di responsabilit&agrave; </h5>
        <h5>4.1 Assenza di garanzia </h5>
        <p>PubliCV E I SUOI AFFILIATI NON SI ASSUMONO ALCUNA RESPONSABILIT&Agrave; N&Eacute; GARANTISCONO PER I SERVIZI, INCLUSA LA GARANZIA CHE I SERVIZI SARANNO DISPONIBILI PER SEMPRE ED ESENTI DA ERRORI, E FORNISCONO I SERVIZI (INCLUSI I CONTENUTI E LE INFORMAZIONI) &ldquo;COS&Igrave; COME SONO&rdquo; E &ldquo;SECONDO DISPONIBILIT&Agrave;&rdquo;. PER QUANTO CONSENTITO DALLA LEGGE APPLICABILE, PubliCV E I SUOI AFFILIATI NON RICONOSCONO ALCUNA GARANZIA IMPLICITA O LEGALE, COMPRESE LE GARANZIE IMPLICITE DI TITOLO, ACCURATEZZA DEI DATI, ASSENZA DI VIOLAZIONI, COMMERCIABILIT&Agrave; O IDONEIT&Agrave; PER UNO SCOPO SPECIFICO. </p>
        <h5>4.2 Esclusione di responsabilit&agrave; </h5>
        <p>PER QUANTO CONSENTITO DALLA LEGGE E A MENO CHE PubliCV ABBIA SOTTOSCRITTO UN ALTRO ACCORDO SCRITTO CHE PREVALGA SUL PRESENTE CONTRATTO, PubliCV E I SUOI AFFILIATI NON RISPONDERANNO, IN RELAZIONE AL PRESENTE CONTRATTO, PER PERDITE DI PROFITTI O OPPORTUNIT&Agrave; COMMERCIALI, REPUTAZIONE (AD ESEMPIO, DICHIARAZIONI OFFENSIVE O DIFFAMATORIE), PERDITE DI DATI (AD ESEMPIO, NON DISPONIBILIT&Agrave; O PERDITA, UTILIZZO DI O MODIFICHE ALLE SUE INFORMAZIONI O AI SUOI CONTATTI), O QUALSIVOGLIA DANNO INDIRETTO, ACCIDENTALE, CONSEQUENZIALE, SPECIALE O PUNITIVO. </p>
        <p>PubliCV E I SUOI AFFILIATI NON RISPONDERANNO NEI SUOI CONFRONTI, IN RELAZIONE AL PRESENTE CONTRATTO, PER QUALSIVOGLIA IMPORTO CHE ECCEDA (A) LE EVENTUALI TARIFFE TOTALI DA LEI PAGATE O DA PAGARE A PubliCV PER I SERVIZI DURANTE IL PERIODO DI VALIDIT&Agrave; DEL PRESENTE CONTRATTO, O (B) EUR 1000. </p>
        <h5>4.3 Base dell&rsquo;accordo; esclusioni </h5>
        <p>La limitazione di responsabilit&agrave; nella presente Sezione 4 &egrave; parte della base dell&rsquo;accordo tra Lei e PubliCV e si applica a tutte le rivendicazioni di responsabilit&agrave; (ad esempio: garanzia, illecito, negligenza, contratto e legge) anche se PubliCV o i suoi affiliati sono stati informati della possibilit&agrave; di tali danni, e anche se queste azioni non raggiungono il loro scopo essenziale. </p>
        <p>Queste limitazioni di responsabilit&agrave; non si applicano alla responsabilit&agrave; per decesso o lesioni personali, o per frode, colpa grave o condotta intenzionale erronea, ovvero in caso di negligenza consistente nella violazione di un obbligo materiale, un obbligo materiale che in quanto tale costruisce un prerequisito per la fornitura di servizi da parte nostra e su cui Lei potrebbe fare affidamento, ma solo nella misura in cui i danni siano direttamente causati dalla violazione e fossero prevedibili alla stipula del presente Contratto e nella misura in cui siano tipici nell&rsquo;ambito del presente Contratto. </p>
        <h5>5. Risoluzione </h5>
        <p>Lei e PubliCV potete risolvere questo Contratto in qualsiasi momento inviando un avviso alla controparte. Può visitare la sua area di amministrazione per chiudere il Suo account, oppure contattarci mediante l'indirizzo info@publicv.org. In caso di risoluzione, Lei perde il diritto di accedere o utilizzare i Servizi. Le seguenti condizioni rimangono valide dopo la risoluzione: </p>
        <p>Il nostro diritto di utilizzare e divulgare i Suoi commenti e suggerimenti; </p>
        <p>Il diritto degli Utenti e/o dei Visitatori di ricondividere ulteriormente informazioni e contenuti da Lei condivisi attraverso i Servizi; </p>
        <p>Sezioni 4, 6, 7 e 8.2 del presente Contratto; </p>
        <p>Qualsiasi importo dovuto da entrambe le parti prima della risoluzione rimarr&agrave; erogabile dopo la risoluzione. </p>
        <h5>6. Legislazione applicabile e risoluzione delle controversie </h5>
        <p>La presente sezione non La priver&agrave; della copertura delle norme imperative a tutela del consumatore del Paese in cui Le proponiamo i Servizi, e in cui Lei risiede abitualmente. Lei e PubliCV Ireland accettate che la legislazione italiana, salvo casi di conflitto tra le leggi, discipliner&agrave; esclusivamente tutte le controversie concernenti il presente Contratto e/o i Servizi. Lei e PubliCV accettate che eventuali rivendicazioni e dispute possono essere discusse esclusivamente nei tribunali di Milano, Italia, ed entrambi accettiamo la giurisdizione personale dei tribunali siti a Milano, Italia. </p>
        <h5>7. Termini generali </h5>
        <p>Se un tribunale con competenza sul presente Contratto ritiene non applicabile qualsivoglia parte dello stesso, Lei e noi accettiamo che detto tribunale debba modificarne i termini e condizioni al fine di rendere detta parte del Contratto applicabile e rimanere comunque in grado di ottemperare allo scopo previsto. Se il tribunale non pu&ograve; farlo, Lei e noi accettiamo di chiedere al tribunale la rimozione della parte non applicabile e che il resto del presente Contratto rester&agrave; in vigore. </p>
        <p>Il presente Contratto (incluse le condizioni aggiuntive che possiamo fornire quando Lei si impegna con una funzionalit&agrave; dei Servizi) &egrave; l&rsquo;unico contratto tra di noi riguardo ai Servizi e sostituisce tutti i precedenti contratti per i Servizi. </p>
        <p>Se noi non intraprendiamo alcuna azione in caso di violazione di questo Contratto, ci&ograve; non significa che PubliCV abbia rinunciato al proprio diritto di dare esecuzione al presente Contratto. Lei non pu&ograve; assegnare o trasferire il presente Contratto (o la Sua adesione o l'utilizzo dei Servizi) a terzi senza il nostro consenso. Tuttavia, Lei accetta che PubliCV possa assegnare il presente Contratto alle sue affiliate o a una parte che lo acquisti senza il Suo consenso. Non esistono terze parti beneficiarie di questo Contratto. </p>
        <p>Lei accetta che l&rsquo;unico modo per inviarci avvisi legali &egrave; di farlo tramite gli indirizzi forniti nella Sezione 10. </p>
        <h4>8. &ldquo;Attivit&agrave; consentite&rdquo; e &ldquo;Attivit&agrave; non consentite&rdquo; su PubliCV </h4>
        <h5>8.1. Attivit&agrave; consentite </h5>
        <p>Lei accetta di: </p>
        <p>Adempiere a tutte le leggi applicabili, comprese, senza limitazione, leggi sulla privacy, leggi sulla propriet&agrave; intellettuale, leggi anti-spam, leggi sul controllo delle esportazioni, leggi fiscali e requisiti regolamentari; </p>
        <p>Fornirci informazioni esatte e mantenerle aggiornate; </p>
        <p>Utilizzare il Suo vero nome sul Suo profilo; e </p>
        <p>Utilizzare i Servizi in modo professionale. </p>
        <h5>8.2 Attivit&agrave; non consentite. </h5>
        <p>Lei accetta di non: </p>
        <p>Creare un&rsquo;identit&agrave; falsa su PubliCV, rappresentare in modo non veritiero la Sua identit&agrave;, creare un profilo Utente per qualcuno che non sia Lei (una persona reale), o utilizzare o cercare di utilizzare l&rsquo;account di terzi; </p>
        <p>Sviluppare, supportare o utilizzare software, dispositivi, script, robot o qualsiasi altro mezzo o processo (inclusi crawler, plugin e componenti aggiuntivi dei browser, o qualsiasi altra tecnologia) per eseguire lo scraping dei Sevizi o altrimenti copiare profili e altri dati dai Servizi; </p>
        <p>Disabilitare qualsivoglia funzionalit&agrave; di sicurezza o bypassare o eludere qualsiasi controllo di accesso o limitazione di utilizzo del Servizio (per esempio, invio di un messaggio a un candidato alla volta); </p>
        <p>Copiare, usare, divulgare o distribuire qualsiasi informazione ottenuta dai Servizi, direttamente o attraverso terze parti (ad es. i motori di ricerca), senza il consenso di PubliCV; </p>
        <p>Divulgare informazioni che non ha il diritto di rivelare (ad es. informazioni riservate di altre persone, incluso il suo datore di lavoro); </p>
        <p>Violare i diritti di propriet&agrave; intellettuale di altri, inclusi diritti d&rsquo;autore, brevetti, marchi, segreti commerciali o altri diritti di privativa. Per esempio, non copiare o distribuire (se non attraverso la funzionalit&agrave; di condivisione disponibile) i post o altri contenuti di altre persone senza rispettare la licenza Creative Commons applicata e sopra citata; </p>
        <p>Violare la propriet&agrave; intellettuale o altri diritti di PubliCV, tra cui, senza limitazioni, (i) copiare o distribuire i nostri video di formazione o altri materiali o (ii) copiare o distribuire la nostra tecnologia, a meno che non sia rilasciata mediante licenze open source; (iii) usare la parola &ldquo;PubliCV&rdquo; o i nostri loghi in qualsivoglia nome aziendale, email o URL ad eccezione delle modalit&agrave; previste dalla licenza e dalle linee guida sul brand. </p>
        <p>Pubblicare qualsiasi elemento che contenga software con virus, worm o ogni altro codice dannoso; </p>
        <p>Eseguire il reverse engineering, la decompilazione, lo smontaggio, la decifrazione o altro tentativo di decodificare il codice sorgente per i Servizi o qualsiasi tecnologia correlata che non sia open source; </p>
        <p>Insinuare o affermare di essere affiliato con o referenziato da PubliCV senza il nostro espresso consenso (ad esempio, rappresentarsi come trainer accreditato da PubliCV); </p>
        <p>Noleggiare, dare in locazione, prestare, commercializzare, vendere/rivendere o altrimenti monetizzare i Servizi o i relativi dati o l&rsquo;accesso agli stessi, senza il preventivo consenso di PubliCV; </p>
        <p>Creare collegamenti di tipo deep-link ai nostri Servizi per qualsiasi scopo diverso dalla promozione del Suo profilo o di suoi contenuti, senza il consenso di PubliCV; </p>
        <p>Utilizzare programmi bot o altri metodi automatizzati per accedere ai Servizi, aggiungere o scaricare contatti, inviare o reindirizzare messaggi; </p>
        <p>Monitorare la disponibilit&agrave;, le prestazioni o la funzionalit&agrave; dei Servizi per qualsiasi finalit&agrave; concorrenziale; </p>
        <p>Svolgere attivit&agrave; di &ldquo;framing&rdquo;, &ldquo;mirroring&rdquo; o in altro modo simulare l&rsquo;aspetto o la funzione dei Servizi; </p>
        <p>Coprire o altrimenti modificare i Servizi o il loro aspetto (per esempio, inserendo elementi nei Servizi o rimuovendo, coprendo o oscurando un annuncio pubblicitario incluso sui Servizi); </p>
        <p>Interferire con il funzionamento dei Servizi o utilizzare sugli stessi un carico irragionevole di dati (ad esempio, spam, attacco Denial of Service (DoS), virus, algoritmi di giochi); e/o </p>
        <p>Violare l&rsquo;Informativa sulla community professionale o eventuali termini aggiuntivi relativi a un Servizio specifico che Le viene fornito quando si registra o inizia a utilizzare tale Servizio. </p>
        <h5>9. Reclami riguardanti i contenuti </h5>
        <p>Noi rispettiamo i diritti di propriet&agrave; intellettuale di altri. Chiediamo che le informazioni pubblicate dagli Utenti siano accurate e non in violazione dei diritti di propriet&agrave; intellettuale o di altri diritti di soggetti terzi. </p>
        <h5>10. Come contattarci </h5>
        <p>Per qualsiasi domanda generica, pu&ograve; contattarci online. Per avvisi legali o notifiche degli atti, pu&ograve; scriverci all&rsquo;indirizzo <a href="mailto:info@publicv.org">info@publicv.org</a>.</p>
      </div>
    </div>
  </div>
</div>
