= form_with model: [:cv, @experience] do |f|
  .modal-body
    .alert.alert-danger
    .row
      .col-12.mb-3
        = f.label :title, t('content.main.cv.new.experience.job_title')
        = f.text_field :title, class: 'form-control'
    .row
      .col-12.mb-3
        = f.label :company, t('content.main.cv.new.experience.company')
        = f.text_field :company, class: 'form-control'
    .row
      .col-12.mb-3
        = f.label :location, t('content.main.cv.new.experience.location')
        = f.text_field :location, class: 'form-control'
    .row
      .col-sm-6.mb-3
        = f.label :started_on, t('content.main.cv.new.experience.from')
        br
        = f.date_select :started_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
                order: %i[day month year], include_blank: true },
                class: 'custom-select form-control'
      .col-sm-6.mb-3
        = f.label :ended_on, t('content.main.cv.new.experience.to')
        br
        = f.date_select :ended_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
                order: %i[day month year], include_blank: true },
                class: 'custom-select form-control'
    .row
      .col-12.mb-3
        = f.label :description, t('content.main.cv.show.entries.description')
        = f.text_area :description, class: 'form-control', rows: 2
  .modal-footer
    = f.button t('content.main.buttons.reset'), type: :reset
    = f.submit t('content.main.buttons.save'), class: 'btn-standard'
