.cv-intro.position-relative.mb-3
  .photo.float-left.mb-3.mr-3
    p Photo
  h3 = full_name(current_user)
  - if @cv.birth_date.present?
    p = t('content.main.cv.show.intro.birth_date', day: @cv.birth_date.day, month: @cv.birth_date.strftime('%B'),
            year: @cv.birth_date.year)
  p = @cv.about.presence
  .clearfix

  = link_to 'Add new location', new_location_path, remote: true
  - current_user.locations.chronological_order.each do |location|
    .entry.position-relative.mb-3
      h6 = location.city
      p = location.original_address
      p = location.geocoded_address
      p = "Coords: #{location.latitude} | #{location.longitude}"
      = link_to 'Edit', edit_location_path(location), remote: true
      '  |
      = link_to 'Delete', location_path(location), method: :delete, data: { confirm: t('confirmation') }

  = link_to edit_cv_section_path(section: :intro), remote: true, class: 'btn-cv btn-edit top-right' do
    i.fas.fa-pencil-alt
hr.mb-3
