<div class="border-top pt-5 pl-3 pl-md-6 pr-2">
  <div class="d-flex align-items-center justify-content-between">
    <h6>Licenses & certifications</h6>
    <span class="badge rounded-circle badge-primary-light text-primary p-2"><i class="icon-plus"></i></span>
  </div>
  <div class="d-flex flex-row font-size-14 pt-5">
    <span class="badge badge-light h-100 p-1 mr-2 border">
    <img src="../assets/static/icons/gogle-logo.svg" alt="gogle"/>
    </span>
    <div class="ml-2 pb-5 border-bottom w-100">
      <h6>Membership Certificate</h6>
      <h6 class="font-weight-normal mb-1">Interaction Design Foundation (IDF)</h6>
      <p>Issued Jul 2018 | No Expiration Date</p>
      <p class="mb-0">Credential ID 39217</p>
      <!-- <span>Consultancy, Creative Direction, Strategy, Team Management, Heuristic Approach, Design Thinking, User Research, Contextual Inquiry, Empathy with Users, Personas, Scenarios, Storyboards, User Stories, User Journey Map, User Flows, Task Flows, Information Architecture, Interaction Flow, Wireframing, Rapid Prototyping, Lo-Hi Fidelity Prototypes, Usability Testing, Design System, UI Design, Design Hand-off, Proof of Concept, Design Pitch, Pitch Dock.</span> -->
    </div>
    <span class="badge rounded-circle badge-primary-light text-primary p-2 h-100"><i class="icon-pencil"></i></span>
  </div>
  <div class="d-flex flex-row font-size-14 pt-5">
    <span class="badge badge-light h-100 p-1 mr-2 border">
    <img src="../assets/static/icons/gogle-logo.svg" alt="gogle"/>
    </span>
    <div class="ml-2 pb-5 border-bottom w-100">
      <h6>Become a UX Designer from Scratch</h6>
      <h6 class="font-weight-normal mb-1">Interaction Design Foundation (IDF)</h6>
      <p>Issued Jul 2018 | No Expiration Date</p>
      <p class="mb-0">Credential ID 39217</p>
      <!-- <span>Consultancy, Creative Direction, Strategy, Team Management, Heuristic Approach, Design Thinking, User Research, Contextual Inquiry, Empathy with Users, Personas, Scenarios, Storyboards, User Stories, User Journey Map, User Flows, Task Flows, Information Architecture, Interaction Flow, Wireframing, Rapid Prototyping, Lo-Hi Fidelity Prototypes, Usability Testing, Design System, UI Design, Design Hand-off, Proof of Concept, Design Pitch, Pitch Dock.</span> -->
    </div>
    <span class="badge rounded-circle badge-primary-light text-primary p-2 h-100"><i class="icon-pencil"></i></span>
  </div>
</div>
