.cv-skills.position-relative.mb-3
  h3 = t('content.main.cv.show.skills.title')
  h5 = t('content.main.cv.show.skills.working_skills')
  p = @cv.working_skills.presence
  h5 = t('content.main.cv.show.skills.other_skills')
  p = @cv.skills.presence

  = link_to edit_cv_section_path(section: :skills), remote: true, class: 'btn-cv btn-edit top-right' do
    i.fas.fa-pencil-alt
hr.mb-3
