<% if @cv_edit_controls || @cv.about.present? %>
  <div class="border-top py-5 pl-3 pl-md-6 pr-2">
    <div class="d-flex align-items-center justify-content-between pb-4">
      <h6><%= t('content.main.cv.show.summary.title') %></h6>
      <% if @cv_edit_controls %>
        <%= link_to edit_cv_section_path(section: :summary), remote: true, class: 'btn-cv btn-edit top-right' do %>
          <span type="button" class="badge rounded-circle badge-primary-light text-primary p-2 ml-2"><i class="icon-pencil"></i></span>
        <% end %>
      <% end %>
    </div>
    <div class="font-size-14">
      <p><%= @cv.about.presence %></p>
    </div>
  </div>
<% end %>
