<h4><%= ::Temple::Utils.escape_html((t('content.main.cv.error.title', count: user.errors.count))) %>
</h4><ul>
<% user.errors.full_messages.each do |message|
 %><li><%= ::Temple::Utils.escape_html((message)) %>
</li><% end %></ul>
