<div class="border-top">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between py-3">
      <div class="w-100 pb-3 pb-md-0">
        <h6 class="d-inline-block pr-3 border-right">Your Resume</h6>
        <h6 class="d-inline-block px-3">Resume-<%= @cv.user&.first_name %></h6>
        <span class="rounded-circle badge badge-primary-light text-primary p-2"><i class="icon-pencil"></i></button>
      </div>
      <div class="d-flex align-items-center justify-content-start justify-content-md-end border-top border-md-0 w-100 pt-3 pt-md-0">
        <button class="btn btn-primary mx-2">Preview</button>
        <button class="btn btn-outline-primary mx-2">Publish</button>
        <button class="btn btn-outline-primary mx-2">More <i class="ml-1 fas fa-angle-down"></i></button>
      </div>
    </div>
  </div>
</div>
