.passwords,
.registrations,
.sessions {
  main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.auth-form {
  border-radius: 2px;
  box-shadow: 0 0 10px $gray-600;
  width: 450px;

  p {
    color: $gray-600;
    font-size: 14px;
  }
}
