html,
body {
  height: 100%;
}

body {
  background-color: $white;
  font-family: 'Raleway', sans-serif;

  ul,
  li {
    p {
      margin: 0;
    }
  }

  .custom-flex {
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
    max-width: 1000px;
    padding: 0 20px;
  }
}
