html,
body {
  height: 100%;
}

body {
  background-color: $white;
  font-family: 'Calibri', 'Cambria', 'Garamond', 'Didot', 'Georgia', 'Helvetica', sans-serif;

  ul,
  li {
    p {
      margin: 0;
    }
  }
}
