button {
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.btn-add,
.btn-edit {
  border: solid 1px $black;
  color: $black;
  line-height: 16px;
  padding: 8px;
  transition: .1s linear;

  i {
    display: block;
  }

  &:hover {
    background-color: $black;
    color: $white;
    transition: .1s linear;
  }
}

.btn-add {
  padding: 8px 9px;
}

.btn-edit {
  text-decoration-line: underline;
}

.btn-standard {
  // TODO
}

.btn-text {
  // TODO
}
