button {
  &:active,
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.btn-cv {
  border: solid 1px $black;
  color: $black;
  line-height: 16px;
  margin-left: 14px;
  padding: 8px;
  transition: .1s linear;

  i {
    display: block;
  }

  &:hover {
    background-color: $black;
    color: $white;
    transition: .1s linear;
  }
}

.btn-new,
.btn-delete {
  padding: 8px 9px;

  &:hover {
    text-decoration: none;
  }
}

.btn-edit {
  text-decoration-line: underline;
}

.btn-standard {
  background-color: $dodger-blue;
  color: $white;

  &:active {

  }

  &:hover {
    background-color: darken($dodger-blue, 15%);
  }
}

.btn-text {
  // TODO
}
