.cv-intro {
  .photo {
    background-color: $gray-400;

    p {
      line-height: 185px;
      margin: 0;
      text-align: center;
      width: 185px;
    }
  }
}

.entry {
  h6,
  p {
    margin: 0;
  }

  h6 {
    font-weight: bold;
    line-height: 34px;
  }
}

h3 {
  line-height: 34px;
}

.light {
  color: $gray-600;
  font-size: 13px;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
