.autocomplete-results {
  background-color: $white;
  box-shadow: 0 0 5px $gray-600;
  display: none;
  padding: 0.25rem 0.75rem;
  width: calc(100% - 30px);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.25rem;
      border-bottom: 1px solid $gray-400;
    }

    span {
      color: $gray-500;
      margin-right: 0.5rem;
    }
  }
}

.cv-intro {
  .photo {
    background-color: $gray-400;

    p {
      line-height: 185px;
      margin: 0;
      text-align: center;
      width: 185px;
    }
  }
}

.entry {
  h6,
  p {
    margin: 0;
  }

  h6 {
    font-weight: bold;
    line-height: 34px;
  }
}

h3 {
  line-height: 34px;
}

.light {
  color: $gray-600;
  font-size: 13px;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
