header {
  display: block;

  nav {
    background-color: $white;
    box-shadow: 0 0 20px $grey;
    display: flex;
    margin-bottom: $margin-md;
    padding: 0 $margin-md;

    a {
      font-size: 17px;
      padding: $margin-md;
    }
  }
}
