h1 {
  margin-bottom: $margin-md;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: $margin-sm;
}

p {
  &:empty {
    display: none;
  }
}

.modal {
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }
}
