<p style="text-align: center">
  <%= t('mailer.magic_link.greeting', first_name: @user.first_name, last_name: @user.last_name) %><br><br>

  <%= t('mailer.confirmations.content') %><br><br>

  <%= link_to t('devise.mailer.confirmation_instructions.action'), @magic_link %>
</p>
