<div class="px-3 px-md-5 pt-40 pt-md-80">
  <%= form_tag searches_path, remote: true do %>
    <div class="form-group mb-5 input-with-icon-append">
      <i class="icon-magnifier text-muted"></i>
      <%= text_field_tag :search_query, params[:search_query], placeholder: 'What skills you are looking for?', class: 'form-control form-control-lg' %>
    </div>

    <div class="form-group mb-2">
      <%= submit_tag t('content.main.buttons.search'), data: { disable_with: t('content.main.buttons.searching') }, class: 'btn btn-primary' %>
    </div>
<!--     <div class="d-flex align-item-center justify-content-between mb-5">
      <span class="badge badge-pill badge-light p-2">Categories <i class="fas fa-angle-down ml-2 text-primary"></i></span>
      <span class="badge badge-pill badge-light p-2">More Filters <i class="fas fa-angle-down ml-2 text-primary"></i></span>
      <span class="badge badge-pill badge-light p-2">Distance Radius <i class="fas fa-angle-down ml-2 text-primary"></i></span>
    </div> -->
  <% end %>
</div>
