<div class="row flex-row-reverse w-100 m-0">
<div class="col-lg-8 m-0 p-0">
<%= ::Temple::Utils.escape_html((render 'map')) %>
</div><div class="col-lg-4 my-3">
<%= ::Temple::Utils.escape_html((render 'form')) %>
<div id="search-results">
</div></div></div>
