<div class="masonry-item mt-3">
  <div class="bgc-white p-20 bd">
    <h3 class="base-color text-center"><%= t('newsletters.show') %></h3>
    <div class="mT-30 text-dark form-border-t pt-5 mx-5">
      <%= @newsletter.content.html_safe %>
    </div>
  </div>
</div>
