= form_for [:cv, @education], remote: true do |f|
  .modal-body
    .alert.alert-danger
    .row.mb-3
      .col-12
        = f.label :school, t('content.main.cv.edit.education.school')
        = f.text_field :school, class: 'form-control'
    .row.mb-3
      .col-12
        = f.label :degree, t('content.main.cv.edit.education.degree')
        = f.text_field :degree, class: 'form-control'
    .row.mb-3
      .col-sm-6
        = f.label :started_on, t('content.main.cv.show.education.started_on')
        br
        = f.date_select :started_on, { start_year: Date.current.year - 4, end_year: 1900, discard_day: true,
                discard_month: true }, class: 'custom-select form-control'
      .col-sm-6
        = f.label :ended_on, t('content.main.cv.show.education.ended_on')
        br
        = f.date_select :ended_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
                discard_month: true }, class: 'custom-select form-control'
    .row.mb-3
      .col-12
        = f.label :description, t('content.main.cv.show.education.description')
        = f.text_area :description, class: 'form-control', rows: 5
  .modal-footer
    = f.submit t('content.main.buttons.save'), class: 'btn-standard'
