= form_with model: @location do |f|
  .modal-body
    .alert.alert-danger
    .row
      .autocomplete.col-lg-9.mb-3
        = f.label :orginial_address, t('content.main.cv.new.location.address'), for: "#{id}_address"
        = f.text_field :original_address, autocomplete: 'off', class: 'form-control', id: "#{id}_address"
        div[id="#{id}_results" class='autocomplete-results position-absolute']
          ul
      .col-lg-3.mb-3
        = f.label :radius, t('content.main.cv.new.location.radius'), for: "#{id}_radius"
        = f.number_field :radius, value: 10, min: 0, class: 'form-control', id: "#{id}_radius"

  .modal-footer
    = f.button t('content.main.buttons.reset'), type: :reset
    = f.submit t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') },
            class: 'btn-standard'

javascript:
   initAutocomplete('#{id}', '#{api_token}');
